<!DOCTYPE html>
<html>
<title>Online Users</title>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="90">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
	<a href="index" class="w3-bar-item w3-button w3-padding-large w3-hover-white">HOME</a>
    <a href="login" class="w3-bar-item w3-button w3-padding-large w3-hover-white">LOGIN</a>
	<a href="onlineUsers" class="w3-bar-item w3-button w3-padding-large w3-white">ONLINE USERS</a>
	<a href="logoff" class="w3-bar-item w3-button w3-padding-large w3-hover-white">LOGOFF</a>
  </div>
</div>
<style>
    section { border:1px solid white;
			padding:10px; 
			overflow:hidden;
			}
    section > section { float:left; }
    .indent-1 { padding-center:10px; }
	.scrollable {
    height: 380px;
	width:  400px;
    overflow-y: auto;
	table{border-collapse:collapse;
	}
	tr {
    text-align: left;
	}
}
</style>
<body class="w3-container w3-black w3-top_center" style="padding:80px 16px">
<section class="indent-1">
    <!-- Section 1 --> 
    <section >
		
        <a href="getUsers" class="w3-button w3-white w3-opacity w3-hover-opacity-off">Refresh</a>
		<p style="text-align:center"><b>Online User List</b></p>
		<div class="scrollable" style="overflow-x:auto;">

		<table class="table" align="center" id="usernamelist">
			<tr><td>UserName</td>
				<td>location</td>
				<td>Last Login</td></tr>
			
		{% for item in listOfUsers%}
			<tr><td><a href="openChatbox?username={{item[0]}}" class="w3-white w3-button" style="text-align:center">{{item[0]}}</a></td>
				<td>{{item[2]}}</td>
				<td>{{item[3]}}</td>
				<td><a href="openChatbox?username={{item[0]}}" class="w3-white w3-button">Send Message</a></td></tr>
		{% endfor %}
		</table>
		</div>
    </section>
	<!-- Section 2 -->
    <section>
        	<p style="text-align:center">Chat Box</p>
			<p style="text-align:center"><b><font size="3">{{receiver}}</font></b></p>
			<br></br>
			<div class="scrollable">
			{% for item in listOfMessage%}
			<tr><td>{{item[0]}}</td>
			<br></br>
			<td>{{item[1]}} : {{item[2]}}</td></tr>
			<br></br>
			{% endfor %}
			</div>
    </section>
    <!-- Section 3 -->
    <section>
        	<form action="/sendMessage?receiver={{receiver}}" method="post" enctype="multipart/form-data">
				<input type="text" size="35" name="message"/><br/>
			<p></p>
			<input type="submit" class="w3-button w3-white w3-opacity w3-hover-opacity-off" value="Send Message"/></form>
			<br></br>
			<br></br>
			<form action="/sendFile?receiver={{receiver}}">
			<input type="file" name="pic" accept="file_extension|audio/*|video/*|image/*|media_type">
			<br></br>
			<input type="submit" class="w3-button w3-white w3-opacity w3-hover-opacity-off" value="Send File"/></form>
</form>
    </section>

</section>
</body>

<footer id="myFooter">
    <div class="w3-container w3-theme-l1">
	<p>This is the 302 Python Project.</p>
    <p>Steven Yan</p>
    </div>
  </footer>
</div>
</body>
</html>
